.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.actionBar {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;

  .rightMargin {
    margin-right: 10px;
  }
}